Package: com.linusyang.appsync
Name: AppSync for iOS 5/6/7+
Priority: standard
Depends: mobilesubstrate
Pre-Depends: firmware (>= 5.0), mobilesubstrate (>= 0.9.5000)
Conflicts: us.hackulo.appsync50, us.hackulo.appsync50plus, org.appaddict.appsync5, info.cracklords.appsync6, com.sull.appsyncforios50, org.appaddict.appsync7, com.hackyouriphone.appsync7, com.teiron.ppsync, appsync50plus2.25pp, net.angelxwind.appsync70plus, net.angelxwind.appsyncunified
Provides: appsync
Version: 0.2
Architecture: iphoneos-arm
Description: allow installing unsigned apps
 AppSync is a tool to synchronize your IPA Package freely, especially useful for iOS developers who are not enrolled in the iOS developers' program to test their apps on devices.
 
 Currently, all so-called "AppSync for iOS 7" is made by the notorious Chinese iOS piracy website 25pp.com. This 25pp version of AppSync modifies installd's launch daemon plist file for interposing signature checking routines, which is an ugly workaround and extremely unstable, causing force close of system apps, or other unexpected behaviours.
 
 On the contrary, the AppSync implementation here ultilizes the dynamic hooking function MSHookFunction of Cydia Substrate by @saurik to bypass the signature check, which does not modify any system files and is more generic, stable and safe.
 
 AppSync supports iOS 5, 6 and 7+
Maintainer: bitst0rm
Author: bitst0rm, Linus Yang <laokongzi@gmail.com>
Section: Tweaks
Homepage: https://github.com/bitst0rm/AppSync
